@model MagicVilla_Web.Models.Dto.VillaDto

@{
    ViewData["Title"] = "DeleteVilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="DeleteVilla">
    <div class="container border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input hidden asp-for="Id" />

        <div class="row">
            <h2 class="text-info">Eliminar Villa</h2>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Nombre de la Villa</label>
                <input disabled asp-for="Nombre" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Tarifa</label>
                <input disabled asp-for="Tarifa" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Detalle</label>
                <textarea disabled asp-for="Detalle" class="form-control"></textarea>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Imagen</label>
                <input disabled asp-for="ImagenUrl" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Ocupantes</label>
                <input disabled asp-for="Ocupantes" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Metros Cuadrados</label>
                <input disabled asp-for="MetrosCuadrados" class="form-control" />
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Amenidad</label>
                <textarea disabled asp-for="Amenidad" class="form-control"></textarea>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-danger">Elimiar</button>
            <a asp-controller="Villa" asp-action="Index" class="btn btn-info">Regresar</a>
        </div>


    </div>

</form>

